BYBIT_API_KEY=oKTEQsBnk0SSbciiec
BYBIT_API_SECRET=gwSbsM7jaaXgqwOPbD8Emr2hcz6K3To1E993
BYBIT_TESTNET=false          # Always start testnet. Switch to false after validation.
DB_PATH=./data/compound.db  # Local. On Render use /data/compound.db
REPORT_EMAIL=lgwaithaka@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=lgwaithaka@gmail.com
SMTP_PASS=@9Jasiri2020
